body {
    background-image: url("/media/Beyback.jpg");
    background-size: 100% 100%;
    /* color: aliceblue; */
}
/*  Testing CSS functionality in connection
with HTML and Javascript */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

#beyjeopardy {
    font-family: 'Roboto Slab', serif;
    font-size: 100px;
    text-align: center;
    /* background-color: blue; */
    /* border: solid; */
    color: aliceblue;

}


.player-score {
    /* border: solid; */
    display: flex;
    font-size: 100px;
    /* text-align: center; */
    color: aliceblue;
    /* defining how many columns there will be */
    justify-content: space-around;
    /* defines how many rows there will be */
}

.score1 {
    margin-left: 85%;
    color: aliceblue;
    grid-column: (1/2);
}

.score2{
    color: aliceblue;
    margin-left: 100px;
    grid-column: (2/3);
}

.categories {
    /* border: solid; */
    display: grid;
    text-align: center;
    color: aliceblue;
    /* defining how many columns there will be */
    grid-template-columns: repeat(3, 1fr);
    /* defines how many rows there will be */
}

#Beyonce{
    grid-column: (1/2);
    
}
#sashaFierce{
    
    grid-column: (2/3);
}
#yonce{
    
    grid-column: (3/4);
}

.questioncards {
    border: solid;
    display: grid;
    text-align: center;
    /* defining how many columns there will be */
    grid-template-columns: repeat(3, 1fr);
    /* defines how many rows there will be */
}

.onehundreds{
    /* background-color: blue; */
    cursor: pointer;
    transition: all 0.8s ease;
    position: relative;
    border: solid;
    height: 200px;
    grid-column: (1/2);
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.twohundreds{
    border: solid;
    height: 200px;
    grid-column: (2/3);
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.threehundreds {
    border: solid;
    height: 200px;
    grid-column: (3/4);
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/* Time constraint -- only added 3 categories with 3 questions instead of 5
questions  */

/* .fourhundreds{
    border: solid;
    height: 200px;
    grid-column: (2/3);
}
.fivehundreds {
    border: solid;
    height: 200px;
    grid-column: (3/4);
} */

.finaljep {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    /* background-color: blue; */
    /* border: solid; */
}
.finalJepA {
    display: none;
}




/* .onehundreds.front,
.onehundreds.back {
    position: absolute;
    backface-visibility: hidden;
} */